@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Comfortaa";
    src: url("../assets/fonts/Comfortaa/Comfortaa-Regular.woff2")
        format("woff2"),
      url("../assets/fonts/Comfortaa/Comfortaa-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Comfortaa-Bold";
    src: url("../assets/fonts/Comfortaa/Comfortaa-Bold.woff2") format("woff2"),
      url("../assets/fonts/Comfortaa/Comfortaa-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Lato";
    src: url("../assets/fonts/Lato/Lato-Regular.woff2") format("woff2"),
      url("../assets/fonts/Lato/Lato-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Light.woff2") format("woff2"),
      url("../assets/fonts/Inter/Inter-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Regular.woff2") format("woff2"),
      url("../assets/fonts/Inter/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Bold.woff2") format("woff2"),
      url("../assets/fonts/Inter/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
      url("../assets/fonts/Inter/Inter-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/Inter-Medium.woff2") format("woff2"),
      url("../assets/fonts/Inter/Inter-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #d6ba82;
  background-repeat: no-repeat;
}

body {
  margin: 0;
}
